.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2vh 96vh 2vh;

    background-color: black;
}

.image {
    height: 96vh;
    grid-column: 2;
    grid-row: 2;
}

.link {
    cursor: pointer;
}

.explainer {
    color: white;
    font-size: 16px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    max-width: 250px;
    font-family: Arial, Helvetica, sans-serif;
}
